<h1>Listing people</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Lastname</th>
    <th>Entityname</th>
    <th>Type</th>
    <th>Streetaddress</th>
    <th>City state zip</th>
    <th>Country</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.firstname %></td>
    <td><%= person.middlename %></td>
    <td><%= person.lastname %></td>
    <td><%= person.entityname %></td>
    <td><%= person.type %></td>
    <td><%= person.streetaddress %></td>
    <td><%= person.city_state_zip %></td>
    <td><%= person.country %></td>
    <td><%= person.phone %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
