<h2>Welcome. Create your profile: </h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :email %>
    <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit %>
<% end %>
</div>
</div>