
<div id="Person_Partial">
<%= label_tag :first_name %>
<%= text_field_tag :first_name %>


<%= label_tag :middle_name %>
<%= text_field_tag :middle_name %>


<%= label_tag :last_name %>
<%= text_field_tag :last_name %>


<%= label_tag :email %>
<%= text_field_tag :email %>

</div>