<h1>Capitalization Tables</h1>
<br>
<div class="btn-group<%= " active" if true %>" data-toggle="buttons-radio">
  <button class="btn<%= " active" if false %>" onclick="action_to_take.value='0'">Summary Capitalization</button>
  <button class="btn<%= " active" if false %>" onclick="action_to_take.value='0'">By Holder</button>
  <button class="btn<%= " active" if false %>" onclick="action_to_take.value='0'">By Certificate</button>
</div>
<br>
<div class="btn-group<%= " active" if true %>" data-toggle="buttons-radio">
  <button class="btn<%= " active" if false %>" onclick="action_to_take.value='0'">Include Pro Forma</button>
  <button class="btn<%= " active" if false %>" onclick="action_to_take.value='0'">Exclude Pro Forma</button>
</div>

<table  class="table table-striped">
  <thead>
  <tr>
    <th class="shares">Class</th>
    <th class="shares">Authorized Amount</th>
    <th class="shares">Issued Amount</th>
    <th class="shares" >Number of Shares</th>
    <th class="percent_column">% Ownership</th>
    <th class="percent_column">% Fully Diluted</th>
    <% if @proforma %>
        <th class="percent_column">% PF Ownership</th>
        <th class="percent_column">% PF Fully Diluted</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @capitalization_records.each do |capRecord| %>
      <tr>
        <td colspan="6"><%=  capRecord.description %></td>
      </tr>
      <% capRecord.equity_records.each do |equityRecord| %>
          <% if equityRecord.equity_plan.nil? %>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;<%= equityRecord.person.formatted_name %> </td>
                <td>&nbsp;</td>
                <td><%=  equityRecord.equity_type %></td>
                <td><%= format_shares(equityRecord.amount) %></td>
                <td><%= format_percent(equityRecord.amount/@outstanding_shares) %></td>
                <td><%= format_percent(equityRecord.amount/@fully_diluted_shares) %></td>
                <% if @proforma %>
                    <td> TODO </td>
                    <td><%=  link_to 'Destroy', company_equity_record_path(@company, equityRecord), confirm: 'Are you sure?', method: :delete %> </td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
  <% end %>


  <% @equityPlans.each do |equityPlan| %>
      <tr>
        <td colspan="6"><%=  equityPlan.description %></td>
      </tr>
      <% equityPlan.equity_records.each do |equityRecord| %>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<%= equityRecord.person.formatted_name %> </td>
            <td>&nbsp;</td>
            <td><%=  equityRecord.equity_type %></td>
            <td><%= format_shares(equityRecord.amount) %></td>
            <td><%= format_percent(equityRecord.amount/@outstanding_shares) %></td>
            <td><%= format_percent(equityRecord.amount/@fully_diluted_shares) %></td>
            <% if @proforma %>
                <td> TODO </td>
                <td> TODO </td>
            <% end %>

          </tr>
      <% end %>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;<%= "Available" %> </td>
        <td>&nbsp;</td>

        <td>&nbsp;</td>
        <td><%= format_shares(equityPlan.available_shares) %></td>
        <td>&nbsp;</td>
        <td><%= format_percent(equityPlan.available_shares/@fully_diluted_shares) %></td>
        <% if @proforma %>
            <td> TODO </td>
            <td> TODO </td>
        <% end %>

      </tr>

  <% end %>
  <tr>
    <td>Total</td>
    <td>&nbsp;</td>

    <td>&nbsp;</td>
    <td><%= format_shares(@fully_diluted_shares) %></td>
    <td>&nbsp;</td>
    <td><%= format_percent(1) %></td>
    <% if @proforma %>
        <td> TODO </td>
        <td> TODO </td>
    <% end %>

  </tr>



  </tbody>
</table>


<div class="row">

  <div class="span6 offset3">
    <%= form_for([@company, @new_equity_record]) do |f| %>
        <% if @new_equity_record.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_equity_record.errors.count, "error") %> prohibited this record from being saved:</h2>

              <ul>
                <% @new_equity_record.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <!-- attr_accessible :amount,

        :equity_type,
        :capitalization_record,
        :person,
        :equity_plan,
        :proforma_target_amount_type        -->

        <%= f.label :amount %>
        <%= f.text_field :amount %>
        <%= f.label :Model_type %>
        <%= f.select(:proforma_target_amount_type,[['Number of Shares', Constants::OWNERSHIP_AMOUNT], ['Fully Diluted Percentage', Constants::OWNERSHIP_FULLYDILUTED], ['Issued and Outstanding', Constants::OWNERSHIP_ISSUED]]) %>
        <br>
        <%= f.label :person %>
        <%= f.collection_select(:person_id, @company.people.append(Person.create(first_name: "Add New Person", id: -1)), :id, :formatted_name) %>
        <%= render partial: 'shared/person_form' %>
        <%= f.label :type %>
        <%= f.collection_select(:capitalization_record_id, @company.capitalization_records, :id, :description) %>
        <br>
        <%= f.submit "Save and Continue", class:"btn btn-primary" %>
    <% end %>
  </div>
