<h1>StaticPages#initial_capitalization</h1>
<p>Find me in app/views/static_pages/initial_capitalization.html.erb</p>
<%= form_tag "initial_capitalization", method: :get, id: "capForm" do %>
  <table>
    <tr>
    <td><span>Total Authorized Capital:</span></td>
    <td><%= text_field_tag "authorized_shares", "15000000" %></td>
    </tr>
    <tr>
      <td><span>Total Capital To be Issued/Reserved:</span></td>
      <td><%= text_field_tag "issue_shares", "10000000" %></td>
    </tr>
  </table>
  <h1>Founder Capitalizaton:</h1>
  <table  class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th class="radio">Balance of Equity</th>
    <th class="percent_column">Target %</th>
    <th class="shares" >Number of Shares</th>
    <th class="percent_column">% Ownership</th>
    <th class="percent_column">% Fully Diluted</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'initial_capitalization_row', collection: @people, as: :person %>
    <tr>
      <td colspan="2"><h3><em>Founder Total:</em></h3></td>
      <td>100%</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>
    <h1>Founder + Option Pool:</h1>
    <table  class="table table-striped">
      <thead>
      <tr>
        <th>Fully Diluted</th>
        <th class="radio">&nbsp;</th>
        <th class="percent_column">Pool %</th>
        <th class="shares" >&nbsp;</th>
        <th class="percent_column">&nbsp;</th>
        <th class="percent_column">% Fully Diluted</th>
      </tr>
      </thead>

      <tr>
        <td colspan="2"><em>Founder Total:</em></td>
        <td>100%</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><em>Equity Incentive Plan</em></td>
        <td>&nbsp;</td>
        <td><%= number_field_tag "eip_percent", "0", min: 0, max: 100 %></td>
        <td><%= label_tag "numberShares", "0" %></td>
        <td>100%</td>
        <td>100%</td>
      </tr>
      </tbody>
    </table>

<%= submit_tag "Save" %>
<%end%>