<h2>Configure Initial Capitalization</h2>
<br>
<%= form_tag "initial_capitalization", method: :put, url: wizard_path, id: "capForm" do %>
  <table>
    <tr>
    <td><span>Total Authorized Capital:</span></td>
    <td><%= text_field_tag "authorized_shares", number_with_delimiter(@authorized_shares) %></td>
    </tr>
    <tr>
      <td><span>Total Capital To be Issued/Reserved:</span></td>
      <td><%= text_field_tag "issued_shares", number_with_delimiter(@issued_shares) %></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group active" data-toggle="buttons-radio">
            <button class="btn<%= @buttons[0] %>" onclick="button_index.value='0'">Founder Percentages</button>
            <button class="btn<%= @buttons[1] %>" onclick="button_index.value='1'">Founder + Equity Pool</button>
            <button class="btn<%= @buttons[2] %>" onclick="button_index.value='2'">No Equity Pool</button>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <h2>Founder Capitalizaton:</h2>
  <table  class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th class="radio">Balance of Equity</th>
    <th class="percent_column">Target %</th>
    <th class="shares" >Number of Shares</th>
    <th class="percent_column">% Ownership</th>
    <th class="percent_column">% Fully Diluted</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'initial_capitalization_row', collection: @people, as: :person %>
     <% if @pool_option == :founder %>
      <tr>
        <td>Equity Pool</td>
        <td> &nbsp; </td>
        <td><%= number_field_tag "pool_percent", @pool_percent, min: 0, max: 100 %></td>
        <td><%= label_tag "numberShares", number_with_delimiter(@pool_shares) %></td>
        <td>100%</td>
        <td>100%</td>
      </tr>
  <% end %>
  </tbody>
</table>
  <% if @pool_option == :founder_and_pool %>
    <h1>Founder + Option Pool:</h1>
    <table  class="table table-striped">
      <thead>
      <tr>
        <th>Fully Diluted</th>
        <th class="radio">&nbsp;</th>
        <th class="percent_column">Pool %</th>
        <th class="shares" >&nbsp;</th>
        <th class="percent_column">&nbsp;</th>
        <th class="percent_column">% Fully Diluted</th>
      </tr>
      </thead>

      <tr>
        <td colspan="2"><em>Founder Total:</em></td>
        <td>100%</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><em>Equity Incentive Plan</em></td>
        <td>&nbsp;</td>
        <td><%= number_field_tag "pool_percent", @pool_percent, min: 0, max: 100 %></td>
        <td><%= label_tag "numberShares", number_with_delimiter(@pool_shares) %></td>
        <td>100%</td>
        <td>100%</td>
      </tr>
      </tbody>
    </table>
  <% end %>
    <input type="hidden" name="button_index" value="0" />
    <input type="hidden" name="old_balance_person_id" value="<%=@balance_person_id%>" />
    <% if @pool_option == :none %>
    <input type="hidden" name="pool_percent" value="<%=@pool_percent%>" />
    <% end %>
<%= submit_tag "Update", class:"btn btn-primary" %>&nbsp;&nbsp;<%= submit_tag "Save", disabled: true, class:"btn btn-primary" %>
<%end%>

<%= debug @pool_option %>
<%= debug @shares %>
<%= debug @percentages %>